# Python
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.env.*

# Virtual environments
venv/
ENV/
env/
.venv/

# macOS
.DS_Store

# Databases
*.db
*.sqlite3
site.db
users.db

# Logs
*.log

# Build and distribution
*.egg-info/
dist/
build/

# Backup files
*~
*.bak
*.backup

# IDEs
.vscode/
.idea/

# Python bytecode caches
.pytest_cache/

# Flask uploads
instance/

# secret files
secrets.json
